/*
main color Navy blue #2E2F42
 color logo Iris #4D5AE5
 color contacts Slate #434455
 color top line Cornflower #E7E9FC
 background color main White #FFFFFF 
 color whatwedoing 4D5AE5
 color granica i text footer: Cornflower #E7E9FC
 background images: #E5E5E5;
 background team, color footer Cloud #F4F4FD
 color hover/active
 color finger line Black #00000


*/
:root {
    --main-navy: #2E2F42;
    --text-slate: #434455;
    --main-white: #ffffff;
    --logo-iris: #4D5AE5;
    --active-ocean: #404BBF;
    --back-cloud: #F4F4FD;
    --cornflower: #E7E9FC;
  }
/*.page-header {
    color: var(--main-navy);
    border: 1px solid var(--cornflower); задано не вірно треба поправити на нижній в 3 дз

}*/
.dots {
    list-style: none; 
}
.link {
    text-decoration: none;
}
body {
    color: var(--main-navy);
    background-color: var(--main-white);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.logo-header {
    color: var(--main-navy);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    /* identical to box height, or 133% */
    /*align-items: center;  */
    letter-spacing: 0.03em;
}
.accent {
    color: var(--logo-iris);
}
.site-nav {
    color: var(--main-navy);
    background-color: var(--main-white);
}
.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-navy);
    
}
.nav-link:hover {
    color: var(--active-ocean);
}
.nav-link:focus {
    text-decoration: underline;
    color: var(--active-ocean);
}
.address {
    color: var(--text-slate);
    background-color: var(--main-white);
    font-style: normal;
}
.contact-link {
    color: var(--text-slate);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    /* identical to box height, or 150% */
    letter-spacing: 0.02em;
}
.contact-link:hover {
    color: var(--active-ocean);
}
.contact-link:focus {
    color: var(--active-ocean);
}
.block {
    background-color: var(--main-navy);
    color: var(--main-white);
    text-align: center;
}
.block-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    /* or 107% */
    letter-spacing: 0.02em;

}
.button {
    color: var(--main-white);
    background-color: var(--logo-iris);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
}
.button:hover {
    color: var(--main-white);
    background-color: var(--active-ocean);
}
.button:focus {
    color: var(--main-white);
    background-color: var(--active-ocean);
}
/*.specifics {
    background-color: var(--main-white);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-navy);
}*/


/*---------------Add visually-hidden----------------*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.text-element {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-slate);

}
/*.what-we-doing {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-navy);
    background-color: var(--main-white);
}*/
.team {
    /*color: var(--main-navy);*/
    background-color: var(--back-cloud);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
}
.team-card {
    color: var(--main-navy);
    background-color: var(--main-white);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
}
.page-footer {
    background-color: var(--main-navy);
    color: var(--cornflower);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.logo-footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.03em;
    color: var(--back-cloud);
}


/*--------------------PoRTFOLIO-----------------*/

.filters {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--logo-iris);
    background-color: var(--back-cloud);
    cursor: pointer;
    border: 1px solid var(--cornflower);
}
.filters:hover {
    color: var(--main-white);
    background-color: var(--active-ocean);
}
.filters:focus {
    color: var(--main-white);
    background-color: var(--active-ocean);
}
.projects {
    color: var(--main-navy);
    background-color: var(--main-white);

}
.project-card {
    background: var(--main-white);
    /*color: var(--main-navy);*/
}
.project-title {
    color: var(--main-navy);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    /* identical to box height, or 120% */
    letter-spacing: 0.02em;
}
.project-type {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
/* identical to box height, or 150% */
    letter-spacing: 0.02em;
    color: var(--text-slate);
}